.vscode
*.nsys-rep
*.sqlite
CUDA-U/BFS/bfs
CUDA-U/BS/bs
CUDA-U/CEDD/cedd
CUDA-U/CEDT/cedt
CUDA-U/HSTI/hsti
CUDA-U/HSTO/hsto
CUDA-U/PAD/pad
CUDA-U/RSCD/rscd
CUDA-U/RSCT/rsct
CUDA-U/SC/sc
CUDA-U/SSSP/sssp
CUDA-U/TQ/tq
CUDA-U/TQH/tqh
CUDA-U/TRNS/trns